extends layout

block content
  dialog(open = errors ? true : null class="adminDialog")
    if errors
      h1 Error:
      each error in errors
        h1 #{error.msg}
    form(action=url ? url :null method="post" )
      label(for="adminKey") Admin key:
      input(type="text" id="adminKey" name="adminKey" value= adminKey ? adminKey: null required)
      button(id="submitAdminKey") submit
      button(class="closeAdminDialog") close
  dialog(open = status ? true : null, class="statusDialog")
    if status
      h1 #{status}
      button(class="closeStatusDialog") close

  h1 Categories
  div(class="categorySections") 
    each category in categories
      section
        h2 #{category.name}
        p #{category.description} 
        a(href=`/category/${category._id}/edit`) Edit Category
        br
        button(class="openModal" data-attribute=`/category/${category._id}/`) Delete Category