extends layout

block content 
  if errors
    h1 Error:
      each error in errors
        h2 !{error.msg}
  fieldset  
    legend !{title}
    form(method="post" enctype="multipart/form-data")
      label(for="adminKey") Admin Key*:
      input(type="text" name="adminKey" id="adminKey" value != adminKey ? adminKey: null required) 
      label(for="gadgetName") Name*:
      input(type="text" name="name" minlength=2 maxlength=20 id="gadgetName" value!=name ? name: null required)
      label(for="price") Price*:
      input(type="number" name="price" id="price" step=0.01 min=0 value!=price || price === 0 ? price : null required)
      label(for="stock") Stock*:
      input(type="number" name="stock" id="stock" min=0 value!=stock || stock === 0 ? stock : null required)
      label(for="description") Description*:
      textarea(name="description" id="description" minlength=10 maxlength=100 cols="30" rows="10" required) !{description ? description : ""}
      label(for="categories") Categories*:
      select(name="categoryIds" id="categories" multiple required)
        each category in categories

          - var isSelected = false
          if categoryIds 
            for categoryId in categoryIds
              if category._id.toString() === categoryId.toString()
                - isSelected = true
          if isSelected 
            option(value!=category._id selected) !{category.name}
          else 
            option(value!=category._id) !{category.name}
      if photo
        fieldset 
          legend Delete photo 
          img(src=`data:${photoMimeType};base64,${Buffer.from(photo).toString('base64')}` alt!=name)
          h2 Uploaded Photo 
          input(type="radio" id="deleteNo" name="deletePhoto" value="false" checked)
          label(for="deleteYes") no
          input(type="radio" id="deleteYes" name="deletePhoto" value="true")
          label(for="deleteYes") yes
          
      label(for="photo") Photo: 
      input(type="file" id="photo" name="photo" accept=".jpeg,.png,webp")
      button(type="submit") submit



