extends layout

block content
  dialog(open = errors ? true : null)
    if errors
      h1 Error:
      each error in errors
        h1 #{error.msg}
    form(action=url ? url :null method="post" )
      label(for="adminKey") Admin key:
      input(type="text" id="adminKey" name="adminKey" value= adminKey ? adminKey: null required)
      button(id="submitAdminKey") submit
      button(id="closeDialog") close 
  h1 Categories
  form( method="get" action="/filter" )
    label(for="category-select") Select Category
    select(name="category" id="category-select" required)
      unless selectedCategory
        option(value="") Select a category
      each category in categories
        option(value= category._id selected=selectedCategory && selectedCategory._id.toString()  === category._id.toString() ? true : false) !{category.name}  
    button(type="submit") filter
  a(href="category/create") create category
  br
  a(href="category/details") show category details
  br
  if selectedCategory 
    a(href="/") Show All Gadgets
  h1 Gadgets
  a(href="gadget/create") create gadget
  each gadget in gadgets
    ul 
      li !{gadget.name}
        ul
          if gadget.photo 
            li
              img(src=`data:${gadget.photoMimeType};base64,${Buffer.from(gadget.photo ).toString('base64')}` alt !=gadget.name)
          li Description: !{gadget.description}
          li Price: !{gadget.price}
          li Stock: !{gadget.stock}
          li category:
            ul 
              each category in gadget.categories
                li !{category.name}
      li 
        a(href=`/gadget/${gadget._id.toString()}/edit`) Edit Gadget
      li
        a(href=`/gadget/${gadget._id.toString()}/delete`) Delete Gadget
  if gadgets.length === 0
    h1 No gadgets exist in this category
    a(href="/gadget/create") Create new Gadget? 
