extends layout

block content
  main
    h1 Categories
    form( method="get" action="/filter" )
      label(for="category-select") Select Category
      select(name="category" id="category-select" required)
        option(value=selectedCategory ? selectedCategory._id : "") #{selectedCategory ? selectedCategory.name : "Select a category"}
        each category in categories
          option(value = category._id) #{category.name}  
      button(type="submit") filter
    a(href="category/create") create category
    if selectedCategory 
      a(href="/") Show All Gadgets
    h1 Gadgets
    each gadget in gadgets
      ul 
        li #{gadget.name}
          ul
            li Description: #{gadget.description}
            li Price: #{gadget.price}
            li Stock: #{gadget.stock}
            li category:
              ul 
                each category in gadget.categories
                  li #{category.name}
